
$yellow: #FBED08;
$pink: #FF003C;
$lightBlue: #02D7F2;
$black: #000000;
$black2: #040404;
$black3:#101010;
$line:rgba(255,255,255,.1);
$white: #fff;


// sizes 
$size1: 88px;
$size42: 42px;
$size1-s: 26px;
$size2: 24px;
$size3: 19px;
$size4: 16px;
$size5: 21px;




